
.main_container{
    position: relative;
    width: 100%;
    height: 100vh;

    width: 1370px;
    margin: auto;
}

@media(max-width: 1370px){

    .main_container{
        width: 100%;
    }
}

.hidden{
    display: none;
}